<h2>Homepage</h2>


<!-- Automatic helper function from Rails to create link -->
<%= link_to 'new post', '/posts/new' %>

<% @posts.each do |post| %>
  <h3>
    <%= link_to post.title, "/posts/#{post.id}/edit" %>
    <!-- <a href="/posts/<%= post.id %>"><%= post.title %></a> -->
    <%= link_to 'Delete', "/posts/#{post.id}", :method => :delete, class: 'dangerous', data: { confirm: 'Really?'} %>
  </h3>
  <p><%= post.body %></p>
<% end %>

<!-- Same thing with shorter syntax -->

<% @posts.each do |post| %>
  <h3>
    <%= link_to post.title, edit_post_path(post) %>
    <% if can_delete?(current_user) %>
    <%= link_to 'Delete', post_path(post), :method => :delete, class: 'dangerous', data: { confirm: 'Really?'} %>
    <% end %>
  </h3>
  <p><%= post.body %></p>
<% end %>